---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter blog entries with 'draft: false' & date before current date
const careerEntries = await getCollection("careers", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
careerEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout title="Careers">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Welcome to the Our Careers Page</Fragment>
      <Fragment slot="desc">
        We’re excited to have you here! We’re passionate about solving big
        challenges, making an impact, and growing together.
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          careerEntries.map((careerEntry, index) => (
            <li>
              <a href={`/careers/${careerEntry.slug}`}>
                <div class="grid md:grid-cols-1 gap-5 md:gap-10 items-center">
                  <div>
                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      {careerEntry.data.category}
                    </span>

                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {careerEntry.data.title}
                    </h2>

                    <div class="flex gap-2 mt-3">
                      <span class="text-gray-400">
                        {careerEntry.data.type}
                      </span>
                      <span class="text-gray-400">• </span>
                      <span class="text-gray-400">
                        {careerEntry.data.location}
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
